<ion-content>
  <div lines="none" class="header" >
      <img src="https://github.com/haperezv/myDoctor/blob/main/src/assets/iconoMyDoc.png?raw=true">
  </div>

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let item of login">
      <ion-router-link [routerLink]="item.routerLink">
        <div class="card-login ion-activatable ripple-parent" [style.background]="item.bkColor" [style.color]="item.color">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon [name]="item.icon"></ion-icon>
          <span>
            <strong>{{ item.name }}</strong>
          </span>
        </div>
      </ion-router-link>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none" class="search">
    <ion-input placeholder="Search, e.g. Dr.Louis Pasterur">
      <ion-button color="tertiary">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-input>
  </ion-item>

  <div class="sub-title">
    <strong slot="start">Categorias</strong>
  </div>



  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let item of categories">
      <ion-router-link [routerLink]="item.routerLink">
        <div class="card-categories ion-activatable ripple-parent" [style.background]="item.bkColor" [style.color]="item.color">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon [name]="item.icon"></ion-icon>
          <span>
            <strong>{{ item.name }}</strong>
          </span>
        </div>
      </ion-router-link>
    </ion-slide>
  </ion-slides>

  <div class="sub-title">
    <strong slot="start">Listado de Doctores</strong>
  </div>

  <div class="list-doctors">
    <ion-item *ngFor="let item of doctors" lines="none" class="ion-activatable ripple-parent" (click)="openProfile()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-thumbnail slot="start">
        <ion-img [src]="item.avatar">
        </ion-img>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <p> {{ item.specialty }} </p>
        <ion-text>
          <h3>
            <strong>
              {{ item.name }}
            </strong>
          </h3>
        </ion-text>
      </ion-label>

      <ion-icon name="ellipsis-vertical-outline" size="small" slot="end"></ion-icon>
    </ion-item>
  </div>


</ion-content>